<div class="game-container" id="<%= game.id %>">
	<div class="left">
	  <%= image_tag(game.thumbnail, size: '150x150') %>
	</div>
	<div class="right">
	  <div class='user-actions'>
       <%= link_to game_collection_path(game), class: collection_class(game), remote: true, method: :post do %>
       		<% if current_user && current_user.collection.games.include?(game) %>
       		  <i class="fa fa-minus fa-lg"></i>
			<% else %>
			  <i class="fa fa-plus fa-lg"></i>
			<% end %>
			<span>Collection</span>
        <% end %>

        <%= link_to game_wish_list_path(game), class: wish_class(game), remote: true, method: :post do %>
       		<% if current_user && current_user.wish_list.games.include?(game) %>
       		  <i class="fa fa-minus fa-lg"></i>
			<% else %>
			  <i class="fa fa-plus fa-lg"></i>
			<% end %>
			<span>Wish list</span>
        <% end %>

	</div>
	<div class="game-title"><%= "#{game.title} (#{game.year_published})" %></div>

	<span class="game-rating">
		<input type="number" class="rating" readonly=true step="0.5" value="<%= game.rating %>" max="10" style="font-size: 14px;" />
	</span>
	<span class='game-categories'>
		<% labels = %w[primary success info default] %>
		<% game.categories.each_with_index do |category, index| %>
			<span class="label label-<%= labels[index] %>"><%= category.name %></span>
		<% end %>
	</span>

	<div class="game-description">
		<%= truncate(game.description, length: 600) %>
	</div>
  </div>
</div>